[submodule "libs/Unfit-1.0"]
	path = libs/Unfit-1.0
	url = https://github.com/Jaliborc/Unfit-1.0.git
[submodule "libs/LibItemSearch-1.2"]
	path = libs/LibItemSearch-1.2
	url = https://github.com/Jaliborc/LibItemSearch-1.2.git
[submodule "libs/LibItemCache-2.0"]
	path = libs/LibItemCache-2.0
	url = https://github.com/Jaliborc/LibItemCache-2.0.git
[submodule "libs/CustomSearch-1.0"]
	path = libs/CustomSearch-1.0
	url = https://github.com/Jaliborc/CustomSearch-1.0.git
[submodule "libs/Poncho-1.0"]
	path = libs/Poncho-1.0
	url = https://github.com/Jaliborc/Poncho-1.0.git
[submodule "libs/Sushi-3.0"]
	path = libs/Sushi-3.0
	url = https://github.com/Jaliborc/Sushi-3.0.git
